backend/vendor
backend/node_modules
backend/public/hot
backend/public/storage
backend/storage/*.key
backend/.env
backend/.env.backup
backend/.phpunit.result.cache
backend/docker-compose.override.yml
backend/Homestead.json
backend/Homestead.yaml
backend/npm-debug.log
backend/yarn-error.log
backend/.idea
backend/.vscode

front/.DS_Store
front/node_modules
front/dist
front/.env.local
front/.env.*.local
front/npm-debug.log*
front/yarn-debug.log*
front/yarn-error.log*
front/pnpm-debug.log*
front/.idea
front/.vscode
front/*.suo
front/*.ntvs*
front/*.njsproj
front/*.sln
front/*.sw?
